{% load static %}
<html>
    <head>
        <title>Link</title>
        <style>
            a:link { color: white; text-decoration: none;}
            a:visited { color: bisque; text-decoration: none;}
            a:hover { color: blue; text-decoration: underline;}
        </style>
        <link rel="stylesheet" href="{% static 'css/cover.css' %}">

    </head>

    <body>
        <table border="3z">
            <tr> <th>Title</th> <th>Links</th> </tr>
            {% for row in rows.0 %}
            <tr> <td>{{row.title}}</td> <td><a href="{{row.link}}">{{row.link}}</a></td> </tr>
            {% endfor %}
        </table>

    </body>

</html>


