{% load static %}
<!-- 
<!DOCTYPE html>
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'polls/link.css' %}">

    <style>
    </style>

    <body>
        <h2>Football Data Analysis</h2>
        <div class="navbar" style="width:1600px; margin:0 auto;">
            <a class="active" href="#"><i class=""></i> <img src="{% static 'polls/images/teams/mct.png' %}" alt=""></a>
            <a class="active" href="#"><i class=""></i> <img src="{% static 'polls/images/teams/ars.png' %}" alt=""></a>
            <a class="active" href="#"><i class=""></i> <img src="{% static 'polls/images/teams/bon.png' %}" alt=""></a>
            <a class="active" href="#"><i class=""></i> <img src="{% static 'polls/images/teams/bright.png' %}" alt=""></a>
            <a class="active" href="#"><i class=""></i> <img src="{% static 'polls/images/teams/cheal.png' %}" alt=""></a>
            <a class="active" href="#"><i class=""></i> <img src="{% static 'polls/images/teams/manu.png' %}" alt=""></a>
            <a class="active" href="#"><i class=""></i> <img src="{% static 'polls/images/teams/pool.png' %}" alt=""></a>
            <a class="active" href="#"><i class=""></i> <img src="{% static 'polls/images/teams/cris.png' %}" alt=""></a>
            <a class="active" href="#"><i class=""></i> <img src="{% static 'polls/images/teams/ever.png' %}" alt=""></a>
            <a class="active" href="#"><i class=""></i> <img src="{% static 'polls/images/teams/son.png' %}" alt=""></a>
            <a class="active" href="#"><i class=""></i> <img src="{% static 'polls/images/teams/new.png' %}" alt=""></a>
            <a class="active" href="#"><i class=""></i> <img src="{% static 'polls/images/teams/fox.png' %}" alt=""></a>
            <a class="active" href="#"><i class=""></i> <img src="{% static 'polls/images/teams/nor.png' %}" alt=""></a>
            <a class="active" href="#"><i class=""></i> <img src="{% static 'polls/images/teams/sout.png' %}" alt=""></a>
            <a class="active" href="#"><i class=""></i> <img src="{% static 'polls/images/teams/t49.png' %}" alt=""></a>
            <a class="active" href="#"><i class=""></i> <img src="{% static 'polls/images/teams/t90.png' %}" alt=""></a>
            <a class="active" href="#"><i class=""></i> <img src="{% static 'polls/images/teams/villa.png' %}" alt=""></a>
            <a class="active" href="#"><i class=""></i> <img src="{% static 'polls/images/teams/wat.png' %}" alt=""></a>
            <a class="active" href="#"><i class=""></i> <img src="{% static 'polls/images/teams/west.png' %}" alt=""></a>
            <a class="active" href="#"><i class=""></i> <img src="{% static 'polls/images/teams/wol.png' %}" alt=""></a>
        </div>
        <div>
            <p>
                pasds
            </p>
        </div>
        <div style="margin: 100px; padding-top: 10px; float: left;">
            <img src="{% static 'polls/images/pitch.png' %}" alt="">
        </div>

    </body>
</html>  -->



<html>
    <head>
        <title>Link</title>
        <style>
            a:link { color: white; text-decoration: none;}
            a:visited { color: bisque; text-decoration: none;}
            a:hover { color: blue; text-decoration: underline;}
        </style>

    </head>

    <body id="project">
        <div id="table">
            <table border="3z">
                <tr> <th>Home</th> <th>Away</th> <th>Competition</th> <th>Statium</th> <th>Match ID</th> </tr>
                {% for row in rows.0 %}
                <tr> <td>{{row.date}}</td> <td>{{row.home}}</td> <td>{{row.away}}</td> <td>{{row.competition}}</td> <td>{{row.stadium}}</td> <td><a href="https://www.premierleague.com/match/{{row.match_id}}">{{row.match_id}}</a></td> </tr>
                {% endfor %}
            </table>
        </div>


    </body>

</html>


