{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

<!DOCTYPE html>
<html>
    <head>
        <title>My Project</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <style>
        
        </style>
    </head>

<h1>PROJECTS</h1>

<body id="project">
    
    <div>
        <label>Project Name :</label><input type="text" placeholder="Search..">
        <label>Name :</label><input type="text">
        <label>Email Address :</label><input type = "text">
        <label>Description of the input value :</label><input type="text">
    </div>

</body>